<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Green Fox Fashion Web Store</h1>
<form action="#" th:action="@{/warehouse/summary}" method="post">
    <select th:field="${items}">
        <option th:each=" item : ${items}"
                th:value="${item}"
                th:text="${item}">
        </option>
    </select>
    <select th:field="${sizes}">
        <option th:each="size : ${sizes}"
                th:value="${size}"
                th:text="${size}">
        </option>
    </select>
    <label>Amount</label>
        <input type="number" name="amount"/>
    <input type="submit" value="Press the button to modify"/>
</form>

<table>
    <tr>
        <th>Item name</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th>Size</th>
        <th>Unit price</th>
    </tr>
    <tr th:each="dress : ${cloth}">
        <td th:text="${dress.getItemName()}"></td>
        <td th:text="${dress.getManufacturer()}"></td>
        <td th:text="${dress.getCategory()}"></td>
        <td th:text="${dress.getSize()}"></td>
        <td th:text="${dress.getUnitPrice()}"></td>
    </tr>
</table>
</body>
</html>