<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <style>
        table, th, td {
        border: 1px solid black;
            text-align: center;
        }
        th:{
            background-color: darkseagreen;
            color: aliceblue;
        }
        tr:nth-child(even) {
            background-color: khaki;
        }
        tr:nth-child(odd) {
            background-color: ivory;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>UserId</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Race</th>
    </tr>
    <tr th:each="bankAccount : ${bank}">
        <td th:text="${bankAccountStat.index+1}"></td>
        <td th:text="${bankAccount.getName()}"></td>
        <td th:text="${bankAccount.getBalance()}"></td>
        <td th:text="${bankAccount.getAnimalType()}"></td>
    </tr>
</table>
</body>
</html>







