<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You can feed here</title>
</head>
<body>

<h2>Feed your starving jawa!</h2>
<p>Select from the drop-down list</p>

<form >
    <h3 th:text="'Your pets name is ' + ${petName} + '. Great choice!!!!'"></h3>
    <select name="food">
        <option value=""> --- </option>
        <option th:each="food : ${foodDb}"
                th:value="${food.getFoodType()}"
                th:text="${food.getFoodType()}" />
    </select>
    <br><br>
    <input type="submit" value="Submit">
    <a href="/">Back to main</a>
</form>
</body>
</html>